/* Card-style border on category lists */
.qbank_managecategories-categorylist {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 1rem;
}
/* Separators between each item become drop indicators */
.qbank_managecategories-item {
    list-style: none;
    border-top: 1px solid #dee2e6;
}
.qbank_managecategories-item:first-child {
    border-top-color: transparent;
}
.qbank_managecategories-item:last-child {
    border-bottom: 1px solid transparent;
}
.qbank_managecategories-item .qbank_managecategories-item:first-child {
    border-top-color: #dee2e6;
}
.qbank_managecategories-item.qbank_managecategories-category-droptarget-before,
.qbank_managecategories-item .qbank_managecategories-item.qbank_managecategories-category-droptarget-before {
    border-top-color: black;
}
.qbank_managecategories-item.qbank_managecategories-category-droptarget {
    border-bottom-color: black;
}
/* Fade effect on drag handle */
.qbank_managecategories-draghandle {
    opacity: 0.45;
}
/* No drag indication on non-draggable items */
.qbank_managecategories-item:not([draggable]) .activity-item:hover {
    cursor: default;
    border-color: transparent;
    box-shadow: none;
}
/* Don't show card border on nested lists. */
.qbank_managecategories-categorylist .qbank_managecategories-categorylist {
    padding: 0;
    border: 0;
    border-radius: 0;
}
/* Don't show hover indication on parent when a child is hovered */
.editing .qbank_managecategories-item .activity-item:hover:has(.activity-item:hover) {
    border-color: transparent;
}
/* Drag proxy for touch events */
#qbank_managecategories-dragproxy {
    position: fixed;
    pointer-events: none;
    touch-action: none;
    opacity: 0.5;
}
#qbank_managecategories-dragproxy .activity-item {
    border-color: #0f6cbf;
}
